body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
  height: 100vh;
  overflow: hidden;
}

.nav li{
  display: inline;
}
.nav a{
  color: white;
  font-family: Raleway;
  text-shadow: 1px 1px 2px black;
  padding-right: 5%;
  text-decoration: none;
}

.nav a:hover{
  background-color: rgba(0,0,0,.3);
}

.main-header{
  height: 300px;
  background-color: rgba(0, 0, 0, 0.479);
  background-image: url(../img/fondo.jpg);
  background-position: center;
  background-blend-mode: multiply;
  background-size: cover;
  padding-top: 5px;
  padding-bottom: 15px;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -5%;
  width: 350px;
  background: rgb(255, 255, 255);
  border-radius: 0px;
}

.container h1{
  text-align: center;
  padding: 30px 0;
  font-weight: 800;
}

.container form{
  padding: 0 40px;
  box-sizing: border-box;
  box-shadow: 2px 2px 3px #999;
  filter: shadow(color=#999999, direction=135, strength=2);
}

.form_usuario{
  position: relative;
  border-left: px solid #adadad;
  margin: 30px 0;
}

.form_usuario input{
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: none;
  box-shadow: 2px 2px 3px #999;
  filter: shadow(color=#999999, direction=135, strength=2);
  background: none;
  outline: none;
  margin-top: 0px;
}

.form_usuario label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #000000;
  transform: translateY(-50%);
  font-size: 16px;
  top: -15px;
  margin-bottom: 25px;
}

.form_clave{
  position: relative;
  border-left: px solid #adadad;
  margin: 30px 0;
}

.form_clave input{
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: none;
  box-shadow: 2px 2px 3px #999;
  filter: shadow(color=#999999, direction=135, strength=2);
  background: none;
  outline: none;
  margin-top: 25px;
}

.form_clave label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #000000;
  transform: translateY(-50%);
  font-size: 16px;
  top: -15px;
  margin-bottom: 25px;
  margin-top: 25px
}

.ver_clave{
  position: absolute;
  right: 15px;
  bottom: 10px;
  cursor: pointer;
}

.olvide_clave{
  margin-bottom: px;
  color: #000000;
  cursor: pointer;
  margin-top: -20px;
  margin-bottom: 45px;
  text-decoration: underline;
}

.boton{
  width: 100%;
  height: 50px;
  border: 0px solid;
  background: #2a88c7;
  box-shadow: 2px 2px 5px #999;
  filter: shadow(color=#999999, direction=135, strength=2);
  border-radius: 0px;
  font-size: 22px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  margin-bottom: 25px;
}

.crearcuenta{
width: 50%;
height: 40px;
border: 0px solid;
background: #2ac732;
box-shadow: 2px 2px 5px #999;
filter: shadow(color=#999999, direction=135, strength=2);
border-radius: 0px;
font-size: 18px;
color: #e9f4fb;
font-weight: 700;
cursor: pointer;
outline: none;
margin-bottom: 25px;
margin-top: -20px;
text-decoration: none;
margin-left: 25%;
}