* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:300,400);

.nav li {
  display: inline;
}
.nav a {
  color: black;
  font-family: Raleway;
  padding: 1em;
  margin: 2em;
  text-decoration: none;
}

.main-header {
  background-image: linear-gradient(#282828, #c8c7c7);
  background-size: cover;
  padding-top: 50px;
}
/*.main-title{
    ;
}*/

/*Santiago modifica el CSS la sector servicios*/

#services-container {
  text-align: center;
}

.service {
  width: 30%;
  padding: 1%;
  display: flex;
}

.service h1,
p,
img {
  padding: 3%;
}

/*Santiago termina de modificar el CSS del sector serivicios*/

/*Anita modifica el CSS la sección de noticias*/

.news-lista {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 30px 15px;
}

.news-contenido {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  max-width: 1000px;
  margin: auto;
}

.news-cuerpo {
  text-align: justify;
}

.news-titulo {
  text-align: center;
}

.news-articulos {
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.1);
}

.news-header {
  width: 100%;
  height: 200%;
}

.news-img {
  background-position: center;
  text-align: center;
}

/*Anita termina de modificar el CSS de la sección de noticias(Aunque sin mucho exito)*/

/*Prada modifica el css de la seccion footer*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

footer {
  width: 100%;
  background: #242424;
  color: white;
}

.container-footer-all {
  width: 100%;
  max-width: 1200;
  margin: auto;
  padding: 40px;
  max-height: 500px;
}

.container-body {
  display: flex;
  justify-content: center;
}

.column1 {
  max-width: 500;
}

.column1 h1 {
  font-size: 28px;
  margin-left: 75px;
  margin-top: 0px;
}

.column1 p {
  font-size: 17px;
  color: #d6d6d6;
  margin-top: 20px;
  max-width: 500px;
  margin-left: 60px;
}

.column2 {
  max-width: 500;
}

.column2 h1 {
  font-size: 28px;
  margin-left: 190px;
  margin-top: 0px;
  margin-bottom: 35px;
}

.row {
  margin-top: 0px;
  display: flex;
  max-width: 600px;
  margin-left: 150px;
}

.row img {
  width: 65px;
  height: 65px;
  margin-left: 25px;
}

.row label {
  margin-top: 0px;
  margin-left: 0px;
  color: #d6d6d6;
}

.container-footer {
  width: 100%;
  background: #756f6f;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
/*Prada termina de modificar el css de la seccion footer*/
